/* * {
  border: 1px solid wheat;
} */

:root {
  --Background-Grey1: rgb(37, 37, 37);
  --Background-Grey2: rgb(44, 44, 44);
  --Standard: teal;
}
#root {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}
body {
  background-color: var(--Background-Grey2);
  color: white;
  font-size: large;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "oxygen", "Segoe UI",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.headerContainer {
  background-color: var(--Background-Grey1);
}
.dFlex {
  display: flex;
}
.dRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.sizeContainer {
  justify-content: space-between;
  min-height: 100px;
  margin: 0 50px;
}
button {
  background-color: teal;
  border: none;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(130, 130, 130);
}
.headerSpace {
  margin: 30px 0;
}
.firstName {
  color: var(--Standard);
}
.lastName {
  color: beige;
}
.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  font-weight: 600;
  letter-spacing: 3px;
  margin-left: 20px;
}
/*  */
.profilePic {
  margin-top: 20px;

  border-radius: 50%;
  width: 100px;
  height: auto;
}
.sizeContainerOne {
  margin: 0 150px;
}
/* Remove styling on a tags */

a {
  color: white;
  text-decoration: none;
}
ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  list-style-type: none;
}
/* contact */

.formElements {
  min-height: 400px;
}
.formInput {
  height: 30px;
}
/* Cards */
.card {
  justify-content: space-around;
  margin: 30px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 02);
  transition: 0.3s;
  width: 400px;
  height: 450px;
  position: relative;
}
.btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.cardImg {
  width: 100%;
  height: 230px;
}

/*  */

.backUp {
  font-weight: 900;
  font-size: 40px;
  border: 5px solid White;
  padding: 0px 10px;
}
footer {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--Background-Grey1);
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.linkTreeIconsContainer {
  min-height: 50px;
  background-color: var(--Background-Grey1);
}
.linkTreeIcons {
  max-width: 30px;
  max-height: auto;
  margin: 15px;
}
/* Resume */

#vineImg {
  min-width: 50px;
  max-height: 500px;
}
.resume {
  max-width: auto;
  max-height: 500px;
  margin: 20px;
}
.sBetween {
  justify-content: space-around;
}
